.box{
    height: 150px;
    width: 300px;
    border: 2px solid black;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 5px;
    background-color: #FFFACD;
    padding: 5px;
    display: inline-block;
}